.applicationcontainer{
  width: 100%;
  text-align: left;
  color: #437fc7;
  margin-top:1em;
}
.container-application{
  width: 90%;
  background-color: #edf6ff85;
  padding: 2em;
  margin: auto;
  border-radius: 15px;
}

#emailInput,
#nameInput,
#displayNameInput,
#experience,
#monetaryvalue,
#questions {
  background-color: #ffffff95;
  border-radius: 5px;
  color: #6daffe;
  border: 1px;
  padding: 0.5em;
}

#experience, 
#questions {
  height: 8em;
}


.apply_buttons {
  display: flex;
  justify-content: center;
}

.submit {
  width: 45%;
  background-color: #437fc7;
  color: #edf6ff;
  border: 1px;
  border-radius: 5px;
  padding: 0.5em;
  margin: 2.5%;
}

.submit:hover {
  background-color: #edf6ff;
  color: #6daffe;
}

.submit:active {
  background-color: #b9732f;
  color: #ffffff;
}

.reset {
  width: 45%;
  background-color: #6daffe;
  color: #edf6ff;
  border: 1px;
  border-radius: 5px;
  padding: 0.5em;
  margin: 2.5%;
}

.reset:hover {
  background-color: #edf6ff;
  color: #6daffe;
}

#gig_reset:active {
  background-color: #b9732f;
  color: #ffffff;
}