.confirmationcontainer {
  margin: 24vw;
  padding: 0px;
  display: grid;
  grid-template-columns: 20vw, 60vw, 20vw;
  grid-template-rows: 10vh, 10vh, 10vh, 10vh, 10vh, 10vh, 10vh, 10vh, 10vh;
  background: none;

  width: 50%;
  height: 50vh;
  text-align: center;
  border-radius: 10px;
}

.items.confirmation1 {
  font-size: 20pt;
  grid-column: 1 / span 3;
  grid-row: 1 / span 7;
  background-color: #bfcddbf8;
  border-radius: 10px;
}