.applicant_container{
  width: 90%;
  background-color: #edf6ffbb;
  padding: 1em;
  margin: 1em;
  border-radius: 15px;
}

.containergigapplicants{
  overflow-y: auto;
  height: 65vh;
}

h1 {
  text-align: center;
  color: #437fc7;
  font-weight: 500;
}

#gigapplicants-go-here{
  justify-content: center;
}

.card {
  border-radius: 10px;
  padding: 0em !important;
  margin: 0.5em;
  width: 20em;
}

.card-title{
  text-align: center;
  font-weight: 600;
  font-size: clamp(20px, 6vw, 50px);
}

.email{
  text-align: center;
  font-size: clamp(14px, 4vw, 18px);
  color: #437fc7;
}

h3 {
  color: #437fc7;
  font-size: clamp(14px, 4vw, 18px);

}

.button_container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.hire {
  text-decoration: none;
  width: 45%;
  background-color: #437fc7;
  color: #edf6ff;
  border: 1px;
  border-radius: 5px;
  padding: 0.5em;
  margin: 2.5%;
}

.hire:hover {
  background-color: #edf6ff;
  color: #6daffe;
}

.hire:active {
  background-color: #b9732f;
  color: #ffffff;
}

.decline {
  text-decoration: none;
  width: 45%;
  background-color: #6daffe;
  color: #edf6ff;
  border: 1px;
  border-radius: 5px;
  padding: 0.5em;
  margin: 2.5%;
}

.decline:hover {
  background-color: #edf6ff;
  color: #6daffe;
}

.decline:active {
  background-color: #b9732f;
  color: #ffffff;
}

.delete_post {
  width: 100%;
  text-decoration: none;
  border: 1px;
  background-color: #437fc7;
  color: #ffffff;
  border-radius: 5px;
  padding: 0.5em;
  margin: 0.5em;
}

.delete_post:hover {
  background-color: #edf6ff;
  color: #6daffe;
}

.delete_post:active {
  
  background-color: #b9732f;
  color: #edf6ff;
}

#reviewButton {
  width: 100%;
  background-color: #6daffe;
  color: #edf6ff;
  border: 1px;
  border-radius: 5px;
  padding: 0.5em;
  margin: 0.5em;
}

#reviewButton:hover {
  background-color: #edf6ff;
  color: #6daffe;
}

#reviewButton:active {
  background-color: #b9732f;
  color: #ffffff;
}