/********** Main Grid Layout **********/
.description-container {
  margin: 1em;
  height: 100%;
  background-color: #edf6ffbb;
  padding: 1em;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr, 1fr, 2fr, 1fr 2fr, 1fr;
  grid-template-areas:
    "title"
    "gigDetails"
    "location"
    "description"
    "imageUser"
    "button";
}

.title {
  grid-area: title;
  text-align: center;
  display: grid;
  align-items: center;
}

.title h1{
  font-size: clamp(20px, 10vw, 50px);
  color: #437fc7;
}

.location {
  grid-area: location;
}

.description {
  grid-area: description;
  word-break: break-all;
  font-size: clamp(14px, 3vw, 30px);
}

.imageUser {
  grid-area: imageUser;
}

.button {
  grid-area: button;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#pickupGigButton {
  width: 100%;
  background-color: #437fc7;
  color: #edf6ff;
  border: 1px;
  border-radius: 5px;
  padding: 1em;
}

#pickupGigButton:hover {
  background-color: #edf6ff;
  color: #6daffe;
}

#pickupGigButton:active {
  background-color: #b9732f;
  color: #ffffff;
}

#reviewButton {
  width: 100%;
  background-color: #6daffe;
  color: #edf6ff;
  border: 1px;
  border-radius: 5px;
  padding: 1em;
}

#reviewButton:hover {
  background-color: #edf6ff;
  color: #6daffe;
}

#reviewButton:active {
  background-color: #b9732f;
  color: #ffffff;
}

/********** Gig Details Grid Layout **********/
.gigDetails {
  margin: 1em;
  grid-area: gigDetails;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "date_box gigIndoorOutdoor"
    "gigFlexDate gigCompensation"
    "time_box gigCompensation"
    "gigFlexTime gigCompensation";
}
.gigDetails > * {
  font-size: clamp(12px, 4vw, 25px);
}

#date_box {
  grid-area: date_box;
  display: flex;
}

#gigFlexDate {
  grid-area: gigFlexDate;
  padding-left: 1.5em;
}

#time_box {
  grid-area: time_box;
  display: flex;
}

#gigFlexTime {
  grid-area: gigFlexTime;
  padding-left: 1.5em;
}

.bi {
  color: #437fc7;
  margin-right: 0.5em;
}

#gigIndoorOutdoor {
  grid-area: gigIndoorOutdoor;
  text-align: center;
}

#gigCompensation {
  grid-area: gigCompensation;
  display: grid;
  text-align: center;
  align-items: center;
  font-size: clamp(30px, 5vw, 50px);
  color: #437fc7;
}

/********** Map **********/

#map {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/********** Images **********/

#images-goes-here {
  border-radius: 10px;
  height: 150px;
  width: 150px;
  display: flex;
  object-fit: cover;
  align-items: center;
  margin: 20px;
}
