.paragraph {
  width: 90%;
  background-color: #edf6ff85;
  padding: 1em;
  margin: 1em;
  border-radius: 15px;
}

h1 {
  color: rgb(64, 137, 231);
  text-align: center;
}
h2 {
  color: rgb(64, 137, 231);
}
