/* Grid Layout for Filter and Listings*/
.main-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  grid-template-areas: "filter listing";
}

.main-container > * {
  padding: 1em;
  margin: 1em;
}

/* CSS for Filter Div */
.filter {
  grid-area: filter;
  font-size: clamp(12px, 1vw, 30px);
  display: block;
  background-color: #edf6ffbb;
  border-radius: 10px;
}

.filter h1 {
  font-size: clamp(20px, 2vw, 40px);
  margin: auto !important;
  color: #437fc7;
  font-weight: 500;
}

.accordion {
  background: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.5s;
}

.accordion:hover {
  background-color: #ffffff7c;
  border-radius: 10px;
}

.panel {
  display: block;
  padding: 1em;
  color: #437fc7;
}

/* CSS for Listing Div */
.listing {
  grid-area: listing;
  background-color: #edf6ffbb;
  border-radius: 10px;
  font-size: clamp(12px, 1vw, 30px);
  overflow: auto;
}

.cardBody {
  margin-bottom: 0.5em;
}

#gig-list {
  background-color: #edf6ff;
  border-radius: 10px;
  padding: 1em;
  margin-bottom: none !important;
  width: 100%;
}

#gigCardButton {
  text-decoration: none;
}

#gig-card {
  background-color: #edf6ff;
  display: grid;
  height: 10em;
  grid-template-columns: 1fr 0.5fr 1fr 0.5fr;
  grid-template-rows: 1fr 0.5fr 1fr;
  grid-template-areas:
    "card-image title title title"
    "card-image date flexDate indooroutdoor"
    "card-image time flexTime compensation";
}

#gig-card > * {
  margin-bottom: 0 !important;
  color: black;
}

#gig-card:hover {
  padding: none;
  background-color: white;
  border-radius: 10px;
}

#gig-card:active {
  background-color: #a6c3e6;
}

.card-image {
  grid-area: card-image;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1em;
}

.card-image2 {
  width: 100%;
  overflow: hidden;
}

.title {
  grid-area: title;
  font-size: clamp(20px, 3vw, 40px);
  display: grid;
  align-items: center;
}

.indooroutdoor {
  grid-area: indooroutdoor;
  text-align: center;
}

.date {
  grid-area: date;
  font-size: clamp(10px, 1.5vw, 25px);
}

.flexDate {
  grid-area: flexDate;
  font-size: clamp(10px, 1.5vw, 25px);
}

.time {
  grid-area: time;
  font-size: clamp(10px, 1.5vw, 25px);
}

.flexTime {
  grid-area: flexTime;
  font-size: clamp(10px, 1.5vw, 25px);
}

.compensation {
  grid-area: compensation;
  text-align: center;
  display: grid;
  font-size: clamp(20px, 3vw, 50px);
  font-weight: 500;
}
