
.container_reviewform{
  width: 90%;
  background-color: #edf6ff85;
  padding: 1em;
  margin: auto;
  border-radius: 15px;
  }


h1 {
  text-align: center;
  color: #437fc7;
  font-weight: 500;
}

label {
  color: #437fc7;
  font-weight: 400;
}

#level,
#comp_fair,
#description {
  background-color: #ffffff95;
  border-radius: 5px;
  color: #6daffe;
  border: 1px;
  padding: 0.5em;
}

#description {
  height: 100px;
}


.buttons {
  display: flex;
  justify-content: center;
}

#review_submit {
  width: 45%;
  background-color: #437fc7;
  color: #edf6ff;
  border: 1px;
  border-radius: 5px;
  padding: 0.5em;
  margin: 2.5%;
}

#review_submit:hover {
  background-color: #edf6ff;
  color: #6daffe;
}

#review_submit:active {
  background-color: #b9732f;
  color: #ffffff;
}

#review_reset {
  width: 45%;
  background-color: #6daffe;
  color: #edf6ff;
  border: 1px;
  border-radius: 5px;
  padding: 0.5em;
  margin: 2.5%;
}

#review_reset:hover {
  background-color: #edf6ff;
  color: #6daffe;
}

#review_reset:active {
  background-color: #b9732f;
  color: #ffffff;
}