/* Global Styling */
html * {
  font-family: "Montserrat", sans-serif;
}

/* Background */
.bg-image {
  background-image: url("../images/background/background1.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(2px);
  opacity: 0.5;
  overflow: hidden;
}
.float {
  padding-top: 10vw;
  position: absolute;
  top: 0%;
  width: 100%;
}

/* Null NavBar */
.offcanvas_null {
  margin-top: 1rem;
  text-align: center;
}
.offcanvas-header {
  display: block;
}
.logo_image_null {
  width: 100%;
}

/* NavBar */
.navbar {
  position: absolute;
  top: 0%;
  width: 100%;
}
.logo_image {
  width: 5vw;
  height: 5vw;
}
.navbar-brand {
  font-weight: 600;
  font-size: clamp(16px, 3vw, 40px);
}
.btn {
  border: 2px;
  border-bottom-style: groove;
  background-color: #e8dfe0;
}
.profilepic {
  width: 100px;
  background-size: cover;
  border-radius: 50%;
  position: center;
}
.btn-close {
  float: right;
}

/********************************/
/********** index.html **********/
/********************************/

/* Jumbotron */
.carousel {
  position: absolute;
  top: 0%;
  left: center;
}
.d-block {
  height: 80vh;
  width: 100vw;
  object-fit: cover;
  object-position: top;
}
.carousel-caption {
  backdrop-filter: blur(15px);
  border-radius: 20px;
}
.carousel-caption h5 {
  font-size: clamp(16px, 5vw, 60px);
  font-weight: 600;
}
.carousel-caption p {
  font-size: clamp(12px, 2vw, 30px);
}

/* Call to Action Buttons*/
.button-container {
  width: 100%;
  position: absolute;
  bottom: 5%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.calltoaction {
  font-size: clamp(16px, 3vw, 30px) !important;
}

.btn-primary {
  padding: 15px;
  background-color: #edf6ff;
  color: #437fc7;
  margin: 2vw;
}

.btn-primary:hover {
  padding: 15px;
  background-color: #437fc7;
  color: #edf6ff;
  margin: 2vw;
}

.btn-primary:active {
  padding: 15px;
  background-color: #b9732f;
  color: #ffffff;
  margin: 2vw;
}

/*Code for Sign-Up Button if we want to add it later*/
/* .btn-secondary {
  padding: 15px;
  background-color: #437fc7;
  color: #edf6ff;
  margin: 2vw;
}
.btn-secondary:hover {
  padding: 15px;
  background-color: #edf6ff;
  color: #437fc7;
  margin: 2vw;
}
.btn-secondary:active {
  padding: 15px;
  background-color: #b9732f;
  color: #ffffff;
  margin: 2vw;
} */

/********************************/
/********** login.html **********/
/********************************/

.container_login {
  text-align: center;
  width: 100%;
}

/********************************/
/********** main.html ***********/
/********************************/

.container {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: "filter listing";
  padding: none;
  margin: 0px;
}

.container >*{
  background-color: #ffffff;
  opacity: 50%;
  border-radius: 10px;
  margin: 10px
}

.filter {
  grid-area: filter;
}

.listing {
  grid-area: listing;
}

/********************************/
/********** inbox.html **********/
/********************************/

/********************************/
/****** notification.html *******/
/********************************/

/********************************/
/********** post.html ***********/
/********************************/

/* Media Queries */

/* Mobile Size */
@media only screen and (max-width: 480px) {
}

/*Tablet Size*/
@media only screen and (max-width: 768px) {
}

/*Labtops*/
@media only screen and (max-width: 1080px) {
}

/*Large Screen*/
@media only screen and (max-width: 1600px) {
}

/*X-large Screen*/
@media only screen and (min-width: 1601px) {
}
