/* Global Styling */
html * {
  font-family: "Montserrat", sans-serif;
}

/* Background */
.bg-image {
  background-image: url("../images/background/background1.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(2px);
  opacity: 0.5;
  overflow: hidden;
}
.float {
  padding-top: clamp(60px, 10vw, 150px);
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100vh;
  overflow: auto;
}

/* Null NavBar */
.offcanvas_null {
  margin-top: 1rem;
  text-align: center;
}
.offcanvas-header {
  display: block;
}
.logo_image_null {
  width: 100%;
}

/* NavBar */
.navbar {
  position: absolute;
  top: 0%;
  width: 100%;
}
.logo_image {
  width: 5vw;
  height: 5vw;
}
.navbar-brand {
  font-weight: 600;
  font-size: clamp(16px, 3vw, 40px);
}

.profilepic_holder{
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}

.profilepic {
  width: 100px;
  background-size: cover;
  position: center;
}
.btn-close {
  float: right;
}

#btn-logout {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.btn-logout {
  text-decoration: none;
  padding: 0.5em;
  background-color: #edf6ff;
  color: #437fc7;
  margin: 0.5em;
  border-radius: 10px;
}

.btn-logout:hover {
  background-color: #437fc7;
  color: #edf6ff;
}

.btn-logout:active {
  background-color: #b9732f;
  color: #ffffff;
}

/* Null Navbar Login Prompt button */
.loginprompt {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}
