/* Global Styling */
html * {
  font-family: "Montserrat", sans-serif;
}

/* Background */
.bg-image {
  background-image: url("../images/background/background1.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(2px);
  opacity: 0.5;
  overflow: hidden;
}
.float {
  padding-top: clamp(60px, 10vw, 150px);
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100vh;
  overflow: auto;
}

/* Null NavBar */
.offcanvas_null {
  margin-top: 1rem;
  text-align: center;
}
.offcanvas-header {
  display: block;
}
.logo_image_null {
  width: 100%;
}

/* NavBar */
.navbar {
  position: absolute;
  top: 0%;
  width: 100%;
}
.logo_image {
  width: 5vw;
  height: 5vw;
}
.navbar-brand {
  font-weight: 600;
  font-size: clamp(16px, 3vw, 40px);
}
.btn {
  border: 2px;
  border-bottom-style: groove;
  background-color: #e8dfe0;
}
.profilepic {
  width: 100px;
  background-size: cover;
  border-radius: 50%;
  position: center;
}
.btn-close {
  float: right;
}

#btn-logout {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.btn-logout {
  text-decoration: none;
  padding: 0.5em;
  background-color: #edf6ff;
  color: #437fc7;
  margin: 0.5em;
  border-radius: 10px;
}

.btn-logout:hover {
  background-color: #437fc7;
  color: #edf6ff;
}

.btn-logout:active {
  background-color: #b9732f;
  color: #ffffff;
}

/* Null Navbar Login Prompt button */
.loginprompt {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}



/********************************/
/********** login.html **********/
/********************************/

.container_login {
  padding: 1em;
}

/********************************/
/********** index.html **********/
/********************************/

/* Jumbotron */
.carousel {
  position: absolute;
  top: 0%;
  left: center;
}
.d-block {
  height: 80vh;
  width: 100vw;
  object-fit: cover;
  object-position: top;
}
.carousel-caption {
  backdrop-filter: blur(15px);
  border-radius: 20px;
}
.carousel-caption h5 {
  font-size: clamp(16px, 5vw, 60px);
  font-weight: 600;
}
.carousel-caption p {
  font-size: clamp(12px, 2vw, 30px);
}

/* Call to Action Buttons*/
.button-container {
  width: 100%;
  position: absolute;
  bottom: 5%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.calltoaction {
  font-size: clamp(16px, 3vw, 30px) !important;
}

.btn-primary {
  padding: 15px;
  background-color: #edf6ff;
  color: #437fc7;
  margin: 2vw;
}

.btn-primary:hover {
  padding: 15px;
  background-color: #437fc7;
  color: #edf6ff;
  margin: 2vw;
}

.btn-primary:active {
  padding: 15px;
  background-color: #b9732f;
  color: #ffffff;
  margin: 2vw;
}

/*Code for Sign-Up Button if we want to add it later*/
/* .btn-secondary {
  padding: 15px;
  background-color: #437fc7;
  color: #edf6ff;
  margin: 2vw;
}
.btn-secondary:hover {
  padding: 15px;
  background-color: #edf6ff;
  color: #437fc7;
  margin: 2vw;
}
.btn-secondary:active {
  padding: 15px;
  background-color: #b9732f;
  color: #ffffff;
  margin: 2vw;
} */

/********************************/
/********** login.html **********/
/********************************/

.container_login {
  text-align: center;
  width: 100%;
}

/********************************/
/********** main.html ***********/
/********************************/

/* Grid Layout for Filter and Listings*/
.main-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  grid-template-areas: "filter listing";
}

.main-container > * {
  padding: 1em;
  margin: 1em;
}

/* CSS for Filter Div */
.filter {
  grid-area: filter;
  font-size: clamp(12px, 1vw, 30px);
  display: block;
  background-color: #edf6ffbb;
  border-radius: 10px;
}

.filter h1 {
  font-size: clamp(20px, 2vw, 40px);
  margin: auto !important;
  color: #437fc7;
  font-weight: 500;
}

.accordion {
  background: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.5s;
}

.accordion:hover {
  background-color: #ffffff7c;
  border-radius: 10px;
}

.panel {
  display: block;
  padding: 1em;
  color: #437fc7;
}

/* CSS for Filter fields */
#search-bar {
  opacity: 60%;
  border-radius: 5px;
  border: 1px;
  padding: 0.5em;
}

#indoor-outdoor-select,
#compensation-select,
#time-of-day-select,
#date-input,
#time-input {
  background-color: #ffffff95;
  border-radius: 5px;
  color: #6daffe;
  border: 1px;
  padding: 0.5em;
}

#images-checkbox {
  margin-left: 10px;
}

#filter-button {
  width: 100%;
  background-color: #437fc7;
  color: #edf6ff;
  border: 1px;
  border-radius: 5px;
  padding: 0.5em;
}

#filter-button:hover {
  background-color: #edf6ff;
  color: #437fc7;
}

#filter-button:active {
  background-color: #b9732f;
  color: #ffffff;
}

#clear-button {
  width: 100%;
  background-color: #437fc7;
  color: #edf6ff;
  border: 1px;
  border-radius: 5px;
  padding: 0.5em;
}

#clear-button:hover {
  background-color: #edf6ff;
  color: #437fc7;
}

#clear-button:active {
  background-color: #b9732f;
  color: #ffffff;
}

/* CSS for Listing Div */
.listing {
  grid-area: listing;
  background-color: #edf6ffbb;
  border-radius: 10px;
  font-size: clamp(12px, 1vw, 30px);
  overflow: auto;
}
#gig-list {
  background-color: #edf6ff;
  border-radius: 10px;
  padding: 1em;
  margin-bottom: none !important;
  width: 100%;
}
#gig-card {
  display: grid;
  height: 10em;
  grid-template-columns: 1fr 0.5fr 1fr 0.5fr;
  grid-template-rows: 1fr 0.5fr 1fr;
  grid-template-areas:
    "card-image title title title"
    "card-image date flexDate indooroutdoor"
    "card-image time flexTime compensation";
}
#gig-card > * {
  margin-bottom: 0 !important;
}

li .card-image {
  grid-area: card-image;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}

li .title {
  grid-area: title;
  font-size: clamp(20px, 3vw, 50px);
  display: grid;
  align-items: center;
}

li .indooroutdoor {
  grid-area: indooroutdoor;
  text-align: center;
}

li .date {
  grid-area: date;
  font-size: clamp(10px, 1.5vw, 25px);
}

li .flexDate {
  grid-area: flexDate;
  font-size: clamp(10px, 1.5vw, 25px);
}

li .time {
  grid-area: time;
  font-size: clamp(10px, 1.5vw, 25px);

}

li .flexTime {
  grid-area: flexTime;
  font-size: clamp(10px, 1.5vw, 25px);
}

li .compensation{
  grid-area: compensation;
  text-align: center;
  display: grid;
  font-size: clamp(20px, 3vw, 50px);
  font-weight: 500;
}
/********************************/
/********** inbox.html **********/
/********************************/

#search {
  margin: 0px;
  width: 100%;
  height: 5vh;
  padding: 0;
  font-size: larger;
}

.containerinbox {
  margin: 0px;
  padding: 0;
  display: grid;
  grid-template-columns: 20vw, 60vw, 20vw;
  grid-template-rows: 10vh, 10vh, 10vh, 10vh, 10vh, 10vh, 10vh, 10vh, 10vh;
  background: none;

  width: 100%;
  height: 100vh;
  text-align: center;
  border-radius: 10px;
}

.item {
  border-color: rgb(13, 12, 12);
  border-style: solid;
  background-color: #edf6fff5;
}
.item.content1 {
  height: 100%;
  width: 100%;
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;

  border-radius: 10px;
}

.item.content2 {
  grid-column: 1 / span 3;
  grid-row: 2 / span 1;

  border-radius: 10px;
}

.item.content3 {
  grid-column: 1 / span 3;
  grid-row: 3 / span 1;

  border-radius: 10px;
}

.item.content4 {
  grid-column: 1 / span 3;
  grid-row: 4 / span 1;

  border-radius: 10px;
}

.item.content5 {
  grid-column: 1 / span 3;
  grid-row: 5 / span 1;

  border-radius: 10px;
}

.item.content6 {
  grid-column: 1 / span 3;
  grid-row: 6 / span 1;

  border-radius: 10px;
}

.item.content7 {
  grid-column: 1 / span 3;
  grid-row: 7 / span 1;

  border-radius: 10px;
}

.item.content8 {
  grid-column: 1 / span 3;
  grid-row: 8 / span 1;

  border-radius: 10px;
}

.item.content9 {
  grid-column: 1 / span 3;
  grid-row: 9 / span 1;

  border-radius: 10px;
}

.item.content10 {
  grid-column: 1 / span 3;
  grid-row: 10 / span 1;

  border-radius: 10px;
}

/********************************/
/****** application.html *******/
/********************************/
.applicationcontainer {
  margin: 3.5vw;
  padding: 0px;
  display: grid;
  grid-template-columns: 20vw, 60vw, 20vw;
  grid-template-rows: 10vh, 10vh, 10vh, 10vh, 10vh, 10vh, 10vh, 10vh, 10vh;
  background: none;
  color: #437fc7;
  width: 93%;
  height: 50vh;
  text-align: center;
  border-radius: 10px;
}

.items.application1 {
  font-size: clamp(10px, 2vw, 25px);
  grid-column: 1 / span 3;
  grid-row: 1 / span 7;
  background-color: #bfcddbf0;
  border-radius: 10px;
}

#experience {
  height: 7vh;
  width: 30vw;
}

#questions {
  height: 7vh;
  width: 30vw;
}
/********************************/
/****** confirmation.html *******/
/********************************/
.confirmationcontainer {
  margin: 24vw;
  padding: 0px;
  display: grid;
  grid-template-columns: 20vw, 60vw, 20vw;
  grid-template-rows: 10vh, 10vh, 10vh, 10vh, 10vh, 10vh, 10vh, 10vh, 10vh;
  background: none;

  width: 50%;
  height: 50vh;
  text-align: center;
  border-radius: 10px;
}

.items.confirmation1 {
  font-size: 20pt;
  grid-column: 1 / span 3;
  grid-row: 1 / span 7;
  background-color: #bfcddbf8;
  border-radius: 10px;
}

/********************************/
/********** gigapplicants.html **********/
/********************************/
#searchgigapplicants {
  margin: 0px;
  width: 100%;
  height: 5vh;
  padding: 0;
  font-size: larger;
}

.containergigapplicants {
  margin: 0px;
  padding: 0;
  display: grid;
  grid-template-columns: 20vw, 60vw, 20vw;
  grid-template-rows: 10vh, 10vh, 10vh, 10vh, 10vh, 10vh, 10vh, 10vh, 10vh;
  background: none;

  width: 100%;
  height: 0vh;
  text-align: center;
  border-radius: 10px;
}



/********************************/
/****** notification.html *******/
/********************************/

/********************************/
/********** post.html ***********/
/********************************/

.form-field {
  width: 90%;
  background-color: #edf6ff85;
  padding: 2em;
  margin: auto;
  border-radius: 15px;
}

#gig-form h1 {
  text-align: center;
  color: #437fc7;
  font-weight: 500;
}

#gig-form label {
  color: #437fc7;
  font-weight: 400;
}

#gig_title {
  width: 100%;
}

#gig_title,
#description,
#location,
#indooroutdoor,
#date,
#time,
#compensation,
#file {
  background-color: #ffffff95;
  border-radius: 5px;
  color: #6daffe;
  border: 1px;
  padding: 0.5em;
}

#description {
  width: 100%;
  height: 20%;
}

.post_button_container {
  display: flex;
  justify-content: center;
}
#gig_submit {
  width: 45%;
  background-color: #437fc7;
  color: #edf6ff;
  border: 1px;
  border-radius: 5px;
  padding: 0.5em;
  margin: 2.5%;
}

#gig_submit:hover {
  background-color: #edf6ff;
  color: #6daffe;
}

#gig_submit:active {
  background-color: #b9732f;
  color: #ffffff;
}

#gig_reset {
  width: 45%;
  background-color: #6daffe;
  color: #edf6ff;
  border: 1px;
  border-radius: 5px;
  padding: 0.5em;
  margin: 2.5%;
}

#gig_reset:hover {
  background-color: #edf6ff;
  color: #6daffe;
}

#gig_reset:active {
  background-color: #b9732f;
  color: #ffffff;
}

/********************************/
/********** gigDescription.html ***********/
/********************************/
.description-container {
width: 80%;
background-color: #edf6ff85;
padding: 2em;
margin: auto;
border-radius: 15px;
display: grid;
grid-template-columns: 1fr 1fr 1fr; 
grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr;
text-align: center;
/* justify-items: center; */
}

.title {
  /* background-color: #b9732f; */
  grid-column: 1/4;
  grid-row: 1; 
}

#gigTitle{
  font-weight: bold;
}

.gigDetails{
  /* background-color: #8c7156; */
  grid-column: 1/2;
  grid-row: 2/3;

}
.gigDetails > p {
  font-weight: bold;

}

.compensation{
  /* background-color: #744a20; */
  grid-column: 3/4;
  grid-row: 2/3;
  
}

#gigCompensation{
  font-size: 30px;
  font-weight: bold;
}

.location{
  /* background-color: #db8024; */
  grid-column: 1/4;
  grid-row: 3/4

}

.description{
  /* background-color: #605142; */
  grid-column: 1/4;
  grid-row:4/5;
}

/********************************/
/********** reviewform.html ***********/
/********************************/

.container{
  width: 80%;
background-color: #edf6ff85;
padding: 2em;
margin: auto;
border-radius: 15px;

}



/* Media Queries */

/* Mobile/Tablet Size */
@media only screen and (max-width: 768px) {
  .main-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 5fr;
    grid-template-areas:
      "filter"
      "listing";
  }

  .panel {
    display: none;
  }
  #gig-list {
    display: block;
  }
  #gig-list p {
    display: inline-block !important;
  }

  #gig-card {
    display: grid;
    height: 10em;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-areas:
      "card-image title title"
      "card-image date indooroutdoor"
      "card-image flexDate compensation"
      "card-image time compensation"
      "card-image flexTime compensation";
  }

  /*Labtops*/
  @media only screen and (max-width: 1080px) {
  }

  /*Large Screen*/
  @media only screen and (max-width: 1600px) {
  }

  /*X-large Screen*/
  @media only screen and (min-width: 1601px) {
  }
}
