/* Global Styling */
html * {
  font-family: 'Montserrat', sans-serif;
}

/* Background */
.bg-image{
  background-image: url('../images/background/background1.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(2px);
  opacity: 0.5;
  overflow: hidden;
}

/* NavBar */ 
.navbar{
  position: absolute;
  top: 0%;
  width: 100%;
}
.logo_image{
  width: 5vw;
  height:5vw;
}
.navbar-brand{
  font-weight: 600;
  font-size: clamp(16px, 3vw, 40px);
}
.btn {
  border: 2px;
  border-bottom-style:groove;
  background-color: #E8DFE0;
}
.profilepic{
  width: 100px;
  background-size: cover;
  border-radius: 50%;
  position: center;
}
/* Jumbotron */
.carousel{
  position: absolute;
  top: 0%;
  left: center;
}
.d-block {
  height: 80vh;
  width: 100vw;
  object-fit: cover;
  object-position: top;
}
.carousel-caption{
  backdrop-filter: blur(15px);
  border-radius: 20px;
}
.carousel-caption h5{
  font-size: clamp(16px, 5vw, 60px);
  font-weight: 600;
}
.carousel-caption p{
  font-size: clamp(12px, 2vw, 30px);
}

.button-container{
position: absolute;
bottom:4%;
justify-content: center;
align-content: center;
/* margin: 100PX; */
margin-left: 48%;
}
 .btn-primary{
  padding:15px;
  margin-bottom: 10px;
  background-color: rgb(42, 91, 136);
 }
 .btn-secondary{
  padding:15px;
  background-color: cornflowerblue;
 }

/* Call to Action */

/* Media Queries */

/* Mobile Size */
@media only screen and (max-width: 480px) {
}

/*Tablet Size*/
@media only screen and (max-width: 768px) {
}

/*Labtops*/
@media only screen and (max-width: 1080px) {
}

/*Large Screen*/
@media only screen and (max-width: 1600px) {
}

/*X-large Screen*/
@media only screen and (min-width: 1601px) {
}
